
.AddcontactContent {
 margin: 0 auto;

 width: 500px;
 height: 500px;
     
}
.contact_detail {
     display: flex;
     flex-direction: column;

     align-self: center;   
}

.contact_detail input, button {
     width: 400px;
}

 
.AddcontactContent input {
    padding: 10px;
    font-size: 10pt;
 
}

.AddcontactContent label, button {
   padding: 5px;
   font-size: 15pt;
   font-weight: 300;
   font-family: sans-serif;
}

.AddcontactContent button {
   background:   rgb(0, 153, 255);
   margin-left: 5px;
   border-radius: 5px;
   outline-color: rgb(0, 153, 255) ;
   color: white;
   border: none;
   padding: 12px;
   transition: 500ms ease-in;
 
    
}

.AddcontactContent button:hover {
padding: 10px;
border:  1px solid rgb(0, 153, 255);
background: #ffffff;
margin-left: 5px;
color: rgb(0, 153, 255);
border-radius: 5px;
cursor: pointer;

} 